[submodule "pico_buttons"]
	path = samples/lib/pico_buttons
	url = https://github.com/elehobica/pico_buttons.git
[submodule "samples/lib/pico-ssd1306/src"]
	path = samples/lib/pico-ssd1306/src
	url = https://github.com/daschr/pico-ssd1306.git
